html {
    display: flex;
    justify-content: center;
}

body {
    /* display: flex; */
    margin: 0;
    background-color: blanchedalmond
}

h2 {
    /* font-size: 3rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    border-style: solid;
    color: black;
}

.about-container{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0px;
    border-style: solid;
    color: black;
    padding: 1rem;   
}

.about-me{
    padding-left: 1rem;
    margin-bottom: 1rem;
    width: 75%;  
    align-content: center;
}
.about-image img{
    padding-left: 1rem;
    margin-bottom: 1rem;
    width: 75%;
}

.jumbotron {
    border-radius: 50px;
}
.projects-container{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0px;
    /* border-style: solid;
    color: black; */
    padding: 1rem;
}

.card {
    border-radius: 10px
}
.card:hover {
    top: -10px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.3);
}

footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0rem;
}